### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [3]:
purchase_data_df = purchase_data
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
total_player = len(purchase_data_df['SN'].unique())
total_player

576

In [5]:
summary_df = pd.DataFrame({"Total Players": [total_player]})
summary_df

   Total Players
0            576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

### Purchasing Analysis (Total)
* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [6]:
# number of unique item ID
total_items = len(purchase_data_df['Item ID'].unique())
total_items

179

In [7]:
#Taking average of Price 
avg_price = purchase_data_df['Price'].mean()
avg_price

3.050987179487176

In [8]:
#Sum of purchases
total_purchases = purchase_data_df['Purchase ID'].sum()
total_purchases

303810

In [9]:
#Sum of price
total_revenue = purchase_data_df['Price'].sum()
total_revenue

2379.77

In [10]:
#Creating Summary DF
summary_df = pd.DataFrame({"Total Items": [total_items], "Average Purchase Prive": [avg_price], "Total Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})
summary_df

,Total Items,Average Purchase Prive,Total Number of Purchases,Total Revenue
0,179,3.050987,303810,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
# # Calculating counnt and percentage - male

gender_count_df = purchase_data_df.groupby(['Gender'])[['SN']].nunique()
gender_count_df

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

In [12]:
male_count = gender_count_df.loc["Male"].sum()
male_count

484

In [13]:
male_percent = male_count/total_player *100
male_percent

84.02777777777779

In [14]:
# Calculating counnt and percentage - female
female_count = gender_count_df.loc["Female"].sum()
female_count

81

In [15]:
# Calculating counnt and percentage - Non-Disclosed
female_percent = female_count/total_player *100
female_percent

14.0625

In [16]:
nd_count = gender_count_df.loc["Other / Non-Disclosed"].sum()
nd_count

11

In [17]:
nd_percent = nd_count/total_player *100
nd_percent

1.9097222222222223

In [18]:
# Creating Gender Summary DF
percent_list = [female_percent, male_percent, nd_percent]

gender_count_df["Percentage of Total Players"] = percent_list
gender_count_df

                        SN  Percentage of Total Players
Gender
Female                  81                    14.062500
Male                   484                    84.027778
Other / Non-Disclosed   11                     1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
purch_count_df = purchase_data_df.groupby(['Gender'])[["Purchase ID"]]
purch_count_df = purch_count_df.count()

purch_count_df

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [20]:
avgp_count = purchase_data_df.groupby(["Gender"])['Price'].mean()
avgp_count

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [21]:
purch_count_df["Average Price"] = avgp_count
purch_count_df

                       Purchase ID  Average Price
Gender
Female                         113       3.203009
Male                           652       3.017853
Other / Non-Disclosed           15       3.346000

In [22]:
avg_pp = purch_count_df['Purchase ID'] * avgp_count
avg_pp

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
dtype: float64

In [23]:
purch_count_df["Average Price per Person"] = avg_pp
purch_count_df

                       Purchase ID  Average Price  Average Price per Person
Gender
Female                         113       3.203009                    361.94
Male                           652       3.017853                   1967.64
Other / Non-Disclosed           15       3.346000                     50.19

In [24]:
# avg_price_pp = purchase_data_df.groupby(['Gender'])[["Price"]]
# avg_price_pp = avg_price_pp.sum()
# avg_price_pp

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [25]:
max_age = purchase_data_df["Age"].max()

max_age

45

In [26]:
min_age = purchase_data_df["Age"].min()

min_age

7

In [27]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 50]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [39]:
bin_data_df = purchase_data_df.copy()
bin_data_df["Age Group"] = pd.cut(bin_data_df["Age"], bins, labels=group_labels)

In [40]:
age_bin = bin_data_df.groupby(["Age Group"])
bin_count = age_bin["SN"].count()
total_player_count = purchase_data_df["SN"].count()
percentage_bin = (bin_count/total_player_count) * 100
percentage_bin

Age Group
<10       2.948718
10-14     3.589744
15-19    17.435897
20-24    46.794872
25-29    12.948718
30-34     9.358974
35-39     5.256410
40+       1.666667
Name: SN, dtype: float64

In [41]:
age_percentage_df = pd.DataFrame({"Total Count": age_bin,
                               "Percentage in Age Group": percentage_bin})

age_percentage_df.head()

StopIteration:

StopIteration:

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame